body{
  background-color: black;
}

header
{
    text-align: center;
    font-size: 30;
    color: white;
}

header{
background-color: black ;
padding: 40px;
}




.länkar {
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  a {
    font-size: 30px;
    text-decoration: none;
    color: white;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  nav {
    background-color: #9d4b5f;
    padding: 20px;
  }