* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272727;
}

header {
  color: white;
}

.länkar {
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

a {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}
nav {
  background-color: #9d4b5f;
  padding: 20px;
}

article {
  margin: none;
}

.center {
  background-color: #272727;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

main {
  background-color: #272727;
}
.BildSpel {
  width: auto;
  width: 75%;
}
.VeckansMatcher {
  background-color: #272727;
  font-size: 30px;
  color: white;
  width: auto;
  width: 25%;
}

.VeckansMatcher h1 {
  color: white;
  font-size: 3vw;
  margin-left: 10%;
  margin-right: 15%;
  margin-top: 10%;
}

.VeckansMatcher u {
  text-decoration: none;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;

  font-size: 1.2vw;
  font-weight: bold;
  color: white;
  margin: 10%;


}

.Pose {
  
  width: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.FightBild{
width: auto;
width: 100%;
}

.FightPicsFlex{
display: flex;
flex-direction: column;
justify-content: space-between;

}

footer a {
  font-size: 30px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #9d4b5f;
  padding: 50px;
}

.instaLogga {
  width: 30px;
  margin-left: 20px;
}