body{
  background-color: burlywood;
  margin: 0;
}



header {
  color: white;
}

.loggaS{
 background-color: #000000;
 display: flex;
 justify-content: center;
}

nav {
  background-color: #808080;
}



.bildspel{
  display: flex;
justify-content: flex-start;
background-color: burlywood;
margin:left 
}

.VeckansMatcher h1{
color: black;
font-size: 40px;
margin-left: 10px;
margin-right: 10px;
}

.VeckansMatcher{
  background-color: blanchedalmond;
  border-bottom: 200px;
  margin-left: 140px;
  margin-top: 20px;
}

.VeckansMatcher u{

  display: flex;
  flex-direction:column;
  align-items: center;

  text-decoration: none;
  display: list-item;                                         
  list-style-type: disc;          
  list-style-position: inside;

  font-size: 25px;
  font-weight: bold;
}



.länkar {
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

a{
font-size: 30px;
text-decoration: none;
color: white;
}

a:hover {

  text-decoration: underline;

}

main{
background-color: honeydew;
}

.simon {
  width:100px;
  margin-left: 100px;
}

.bildspelBild{
  width: 500px;
  border-left: blanchedalmond;
}

