* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272727;
}

header {
  color: white;
}

.länkar {
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

a {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}
nav {
  background-color: #9d4b5f;
  padding: 20px;
}

article {
  margin: none;
}

.center {
  background-color: #272727;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

main {
  background-color: #272727;
}
.BildSpel {
  height: 100%;
}
.VeckansMatcher {
  background-color: #272727;
  font-size: 30px;
  color: white;
  width: 500px;
}

.VeckansMatcher h1 {
  color: white;
  font-size: 40px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
}

.VeckansMatcher u {
  text-decoration: none;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;

  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 10%;
}

.Pose {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.BildPose {
  width: auto;
  width: 100%;
}

.simon {
  width: 100px;
  margin-left: 100px;
}

footer a {
  font-size: 30px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #9d4b5f;
  padding: 50px;
}

.instaLogga {
  width: 30px;
  margin-left: 20px;
}
