body {
  background-color: black;
}
header {
  text-align: center;
  font-size: 30;
  color: white;
}

header {
  background-color: black;
  padding: 40px;
}

.länkar {
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

a {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}
nav {
  background-color: #9d4b5f;
  padding: 20px;
}

.våraFightersar {
  display: flex;
  justify-content: center;
}

.våraFightersarRad2 {
  display: flex;
  justify-content: center;
}

.ViktorBild {
  width: auto;
  width: 300px;
}

.Viktor {
  background-color: #272727;
  margin: 2%;
}

.LiBild {
  width: auto;
  width: 300px;
}

.Li {
  background-color: #272727;
  margin: 2%;
}

.SimonBild {
  width: auto;
  width: 300px;
}

.Simon {
  background-color: #272727;
  margin: 2%;
}


.WilliamBild {
  width: auto;
  width: 300px;
}

.William {
  background-color: #272727;
  margin: 2%;
}

.AlexandarBild {
  width: auto;
  width: 300px;
}

.Alexandar {
  background-color: #272727;
  margin: 2%;
}

.AstorBild {
  width: auto;
  width: 300px;
}

.Astor {
  background-color: #272727;
  margin: 2%;
}
article {
  text-align: center;
  color: white;
}
